[Unit]
Description=Quick 'n Dirty VPN Builder - Service
After=network.target

[Service]
User=qnd
Group=qnd
WorkingDirectory=/opt/qndvpnbuilder/qnd
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind 127.0.0.1:8080 --error-logfile /var/log/qnd/error.log --log-file /var/log/qnd/qnd.log --access-logfile /var/log/qnd/access.log --log-level info app:app